In [ ]:
# data source https://www.waterqualitydata.us/
# data can be downloaded with Advanced Download in the data source above
# we can use API to download data also (can do in python instead of R)
# we will only look at station monitoring streams

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

path = '/content/drive/My Drive/CASFER'
os.chdir(path)
# os.getcwd()

In [ ]:
import pandas as pd

# perform a more complex read_csv to get the construction date and lat/lon
data_src = 'station.csv'
data = pd.read_csv(os.path.join(path, data_src), dtype={
    'ConstructionDateText':"string", 
    'LatitudeMeasure':float,
    'LongitudeMeasure':float,
    'AquiferTypeName':"string",
    'HUCEightDigitCode':"string"
})

In [ ]:
# filter NA data
# data.dropna(axis=1, how='all', inplace=True)
selected_cols = [
  'ConstructionDateText', 
  'LatitudeMeasure', 
  'LongitudeMeasure', 
  'HUCEightDigitCode',
  'CountryCode',
  'StateCode',
  'CountyCode',
]
data.dropna(subset=selected_cols, inplace=True)

In [ ]:
columns = list([c for c in data.columns])
indexes = [
 'OrganizationIdentifier',
 'OrganizationFormalName',
 'MonitoringLocationIdentifier',
 'MonitoringLocationName',
 'MonitoringLocationTypeName',
 'HUCEightDigitCode',
 'LatitudeMeasure',
 'LongitudeMeasure',
 'CountryCode',
 'StateCode',
 'CountyCode',
]
columns

['OrganizationIdentifier',
 'OrganizationFormalName',
 'MonitoringLocationIdentifier',
 'MonitoringLocationName',
 'MonitoringLocationTypeName',
 'MonitoringLocationDescriptionText',
 'HUCEightDigitCode',
 'DrainageAreaMeasure/MeasureValue',
 'DrainageAreaMeasure/MeasureUnitCode',
 'ContributingDrainageAreaMeasure/MeasureValue',
 'ContributingDrainageAreaMeasure/MeasureUnitCode',
 'LatitudeMeasure',
 'LongitudeMeasure',
 'SourceMapScaleNumeric',
 'HorizontalAccuracyMeasure/MeasureValue',
 'HorizontalAccuracyMeasure/MeasureUnitCode',
 'HorizontalCollectionMethodName',
 'HorizontalCoordinateReferenceSystemDatumName',
 'VerticalMeasure/MeasureValue',
 'VerticalMeasure/MeasureUnitCode',
 'VerticalAccuracyMeasure/MeasureValue',
 'VerticalAccuracyMeasure/MeasureUnitCode',
 'VerticalCollectionMethodName',
 'VerticalCoordinateReferenceSystemDatumName',
 'CountryCode',
 'StateCode',
 'CountyCode',
 'AquiferName',
 'LocalAqfrName',
 'FormationTypeText',
 'AquiferTypeName',
 'ConstructionDateText',
 'WellDepthMeasure/MeasureValue',
 'WellDepthMeasure/MeasureUnitCode',
 'WellHoleDepthMeasure/MeasureValue',
 'WellHoleDepthMeasure/MeasureUnitCode',
 'ProviderName']

In [ ]:
# data.head()
data['MonitoringLocationIdentifier'].unique()

array(['USGS-15080000', 'USGS-15092000', 'USGS-15237030', ...,
       'USGS-474926104030101', 'USGS-482800109494001',
       'USGS-485134104594201'], dtype=object)

In [ ]:
def all_non_null(data, columns):
  valid = True
  for col in columns:
   valid = valid and (not data[col].isnull().values.any())
  return valid

In [ ]:
print(all_non_null(data, selected_cols))

True

In [ ]:
output_data = data[selected_cols]
output_data.head()

,ConstructionDateText,LatitudeMeasure,LongitudeMeasure,HUCEightDigitCode,CountryCode,StateCode,CountyCode
225,19150529,55.826083,-131.463361,19010102,US,2,130
311,19510625,56.506575,-134.969750,19010212,US,2,220
569,20190729,60.451889,-148.108000,19020201,US,2,261
1666,19450101,52.716997,174.116118,19030103,US,2,16
1667,19450101,52.732830,174.091950,19030103,US,2,16

In [ ]:
output_data.to_csv(os.path.join(path,'output.csv'))

In [ ]:
compression_opts = dict(method='zip', archive_name='filtered_data.csv')
data.to_csv(os.path.join(path, 'filtered_data.csv'), index=False,
          compression=compression_opts)